.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: beige;
}

.list{
    display: flex;
    gap: 50px;
    list-style: none;
}

.hero{
    display: flex;
    justify-content: space-around;
    background-color: beige;
    margin: 20px;
    position: relative;
    top: 20px;
    padding: 20px;
    gap: 80px;

}

.hero1{
    text-align: center;
}

.wel{
    text-align: center;
    padding: 20px;
}

.wel button{
    padding: 20px 200px;
    font-size: 15px;
    border-radius: 30px;
}

